.DS_Store
.ipynb_checkpoints/states_mapcleaner-checkpoint.ipynb
.ipynb_checkpoints/covid_mapmaker-checkpoint.ipynb
data/time_series_covid19_confirmed_US.csv
data/time_series_covid19_deaths_US.csv
configEffeietsanders.py
configEiabot.py
login.py
